ChuckNorris/API/ChuckNorris.API/ChuckNorris.API.sln.DotSettings.user
ChuckNorris/API/ChuckNorris.API/.vs/
ChuckNorris/API/ChuckNorris.API/ChuckNorris.API/obj/ChuckNorris.API.csproj.nuget.cache
ChuckNorris/API/ChuckNorris.API/ChuckNorris.API/obj/ChuckNorris.API.csproj.nuget.g.props
ChuckNorris/API/ChuckNorris.API/ChuckNorris.API/obj/
ChuckNorris/API/ChuckNorris.API/ChuckNorris.API/bin/
ChuckNorris/API/ChuckNorris.API/out/
ChuckNorris/API/ChuckNorris.API/ChuckNorris.ExternalClient/bin/
ChuckNorris/API/ChuckNorris.API/ChuckNorris.ExternalClient/obj/
